/* ------------------------------------
  SPOTIFY REMOTE STYLESHEET
  ------------------------------------- */

/* --- base --- */

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 14px sans-serif;
  background: #333;
  color: #fff;
}

a {
  cursor: pointer;
}

input[type="range"] {
  width: 100%;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

/* --- overriding ie10 defaults for range inputs --- */

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: -ms-linear-gradient(#000, #333);
}

input[type="range"]::-ms-thumb {
  width: .75em;
  height: .75em;
  background: -ms-linear-gradient(#bada55, #788c37);
  border: none;
  border-radius: 50%;
}

input[type="range"]::-ms-track {
  color: transparent;
}

/* --- layout --- */

.remote-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.page-wrapper {
  min-height: 100%;
}

.page {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.control-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em 0;
}

.ui-container {
  position: relative;
  padding: .5em 1em;
  margin: 1em 0;
}

.ui-container:before,
.ui-container:after {
}

.ui-container:after {
  clear: both;
}

/* --- pages --- */

// Search is initially hidden
#search {
  display: none;
}

#artist-detail {
  display: none;
}

#album-detail {
  display: none;
}

#search {
  display: none;
}


/* --- page controls --- */
.page-nav {
  margin-bottom: 1em;
}

.open-search {
  float: right;
}

.open-remote {
  float: right;
}

.go-back {
  float: left;
}

/* --- time controls --- */

.time input[type="range"] {
  display: block;
  width: 65%;
  top: -.5em;
  margin: 0 auto;
}

.played-time,
.duration {
  position: absolute;
  display: inline-block;
  width: 20%;
  padding: .25em;
  top: 0;
  background: rgba(0,0,0,.3);
  border-radius: 1em;
  text-align: center;
  z-index: 1;
}

.played-time {
  left: 0;
}

.duration {
  right: 0;
}

/* --- state controls --- */

.button {
  padding: .5em 1em;
  margin: 0;
  background: -webkit-linear-gradient(#bada55, #788c37);
  background: -moz-linear-gradient(#bada55, #788c37);
  background: -o-linear-gradient(#bada55, #788c37);
  background: -ms-linear-gradient(#bada55, #788c37);
  background: linear-gradient(#bada55, #788c37);
  border-left: 1px solid rgba(255,255,255,.3);
  border-right: 1px solid rgba(0,0,0,.3);
  box-shadow: inset 0 2px 0 rgba(255,255,255,.5), inset 0 -2px 0 rgba(0,0,0,.3);
  color: rgba(0,0,0,0.5);
  font-weight: bold;
  text-align: center;
}

.control-button {
  display: block;
  float: left;
  width: 33%;
}

.previous {
  border-left: none;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.next {
  border-right: none;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

/* --- remote appearance --- */

.remote-wrapper {
  background: -webkit-linear-gradient(#555, #333);
  background: -moz-linear-gradient(#555, #333);
  background: -o-linear-gradient(#555, #333);
  background: -ms-linear-gradient(#555, #333);
  background: linear-gradient(#555, #333);
}

.control-wrapper {
  background: -webkit-linear-gradient(rgba(0,0,0,.5), #333 35%);
  background: -moz-linear-gradient(rgba(0,0,0,.5), #333 35%);
  background: -o-linear-gradient(rgba(0,0,0,.5), #333 35%);
  background: -ms-linear-gradient(rgba(0,0,0,.5), #333 35%);
  background: linear-gradient(rgba(0,0,0,.5), #333 35%);
}

.ui-container {
  clear: both;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-slider-thumb,
input[type="range"]::-o-slider-thumb,
input[type="range"]::slider-thumb {
  width: 25px;
  height: 25px;
}

/* --- artist, title, album cover --- */

.artwork {
  display: block;
  width: 100%;
}

.artist,
.song-title {
  text-align: center;
}

.artist {
  font-weight: bold;
}

/* --- search & search results --- */

#new-search {
  text-align: center;
}
#new-search input {
  font-size: 1.2em;
}

#search-results h3 {
  padding: 0.5em;
}

.tracks-search-result, .albums-search-result, .artists-search-result {
  display: block;
  color: #bada55;
  background: -webkit-linear-gradient(#555, #333);
  padding: 5px;
}

.tracks-search-result:hover, .album-search-result:hover {
  color: #CEE486;
}

.show-more {
  margin: 0.5em 0em 1em 0em;
  color: #90B027;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.show-more:hover {
  color: #bada55;
}

.no-search-result {
  color: #333333;
  text-align: center;
}

/* --- media query to avoid ugly vertical scaling --- */

@media screen and (min-height: 580px) {

  .remote-wrapper {
    max-height: 700px;
  }
}

/* --- media query for larger than common mobile screens --- */

@media screen and (min-width: 480px) {

  html {
    background: #e1e1e1;
  }

  .remote-wrapper {
    width: 380px;
    margin: 1em;
    border: .5em solid rgba(0,0,0,.2);
    border-radius: 1em;
    box-shadow: 0 0 10px #666;
    overflow: scroll;
  }
}
