/* ------------------------------------
  SPOTIFY REMOTE STYLESHEET
  ------------------------------------- */

/* --- base --- */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 14px sans-serif;
  background: #e1e1e1;
  color: #fff;
}

.logo {
  margin: 0 1rem 1rem 1rem;
}

.logo span {
  text-shadow: 0 0 3px rgba(0,0,0,.5);
  color: #bada55;
}

a {
  cursor: pointer;
}

/* --- layout --- */

.remote-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 320px;
  padding: 1em 0;
  margin: 1em auto;
}

.control-wrapper {
  position: absolute;
  bottom: 0;
  padding: 1em 0;
}

.ui-container {
  position: relative;
  margin: 0 1em 1em 1em;
}

/* --- override webkits default input appearance --- */

input[type='range'] {
  -webkit-appearance: none;
  position: relative;
  width: 100%;
  height: 1em;
  background: rgba(0,0,0,.5);
  border-radius: 1em;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5em;
  height: 1.5em;
  background: #e1e1e1;
  border-radius: 50%;
  box-shadow: 0 0 5px #666;
  opacity: 1;
}

/* --- time controls --- */

.time input[type='range'] {
  display: block;
  width: 65%;
  top: .5em;
  margin: 0 auto;
}

.played-time,
.duration {
  position: absolute;
  display: inline-block;
  width: 15%;
  padding: .25em;
  top: 0;
  z-index: 1;
  background: rgba(0,0,0,.3);
  border-radius: 1em;
}

.played-time {
  left: 0;
  text-align: left;
}

.duration {
  right: 0;
  text-align: right;
}

/* --- state controls --- */

.button {
  display: inline-block;
  width: 90px;
  padding: .5em 1em;
  background: #bada55;
  color: rgba(0,0,0,0.5);
  box-shadow: 0 5px 0 #333;
  font-weight: bold;
  text-align: center;
}

.button:first-of-type {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.button:last-of-type {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

/* --- remote appearance --- */

.remote-wrapper {
  background: -webkit-linear-gradient(#555, #333);
  border: .5em solid rgba(0,0,0,.2);
  border-radius: 1em;
  box-shadow: 0 0 10px #666;
}

.control-wrapper {
  background: -webkit-linear-gradient(rgba(0,0,0,.5), #333 35%);
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

/* --- artist, title, album cover --- */

.artwork {
  display: block;
  width: 100%;
}

.artist,
.song-title {
  text-align: center;
}

.artist {
  font-weight: bold;
}


