/* ------------------------------------
  SPOTIFY REMOTE STYLESHEET
  ------------------------------------- */

/* --- base --- */

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 14px sans-serif;
  background: #333;
  color: #fff;
}

a {
  cursor: pointer;
}

/* --- layout --- */

.remote-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.control-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em 0;
}

.ui-container {
  position: relative;
  padding: .5em 1em;
}

/* --- override webkits default input appearance --- */

input[type='range'] {
  -webkit-appearance: none;
  position: relative;
  width: 100%;
  height: 1em;
  padding: 1em;
  background: rgba(255,255,255,.2);
  border-radius: 1em;
  box-shadow: 0 0 5px #666;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5em;
  height: 1.5em;
  background: #e1e1e1;
  border: .5em solid transparent;
  border-radius: 50%;
  box-shadow: 0 0 5px #666;
}

/* --- time controls --- */

.time input[type='range'] {
  display: block;
  width: 65%;
  top: -.5em;
  margin: 0 auto;
}

.played-time,
.duration {
  position: absolute;
  display: inline-block;
  width: 20%;
  padding: .25em;
  top: 0;
  background: rgba(0,0,0,.3);
  border-radius: 1em;
  text-align: center;
  z-index: 1;
}

.played-time {
  left: 0;
}

.duration {
  right: 0;
}

/* --- state controls --- */

.button {
  display: inline-block;
  width: 90px;
  padding: .5em 1em;
  background: #bada55;
  color: rgba(0,0,0,0.5);
  box-shadow: 0 5px 0 #333;
  font-weight: bold;
  text-align: center;
}

.button:first-of-type {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.button:last-of-type {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

/* --- remote appearance --- */

.remote-wrapper {
  background: -webkit-linear-gradient(#555, #333);
  background: -moz-linear-gradient(#555, #333);
  background: -o-linear-gradient(#555, #333);
  background: -ms-linear-gradient(#555, #333);
  background: linear-gradient(#555, #333);
  overflow: hidden;
}

.control-wrapper {
  background: -webkit-linear-gradient(rgba(0,0,0,.5), #333 35%);
  background: -moz-linear-gradient(rgba(0,0,0,.5), #333 35%);
  background: -o-linear-gradient(rgba(0,0,0,.5), #333 35%);
  background: -ms-linear-gradient(rgba(0,0,0,.5), #333 35%);
  background: linear-gradient(rgba(0,0,0,.5), #333 35%);
}

.ui-container {
  text-align: center;
}

/* --- artist, title, album cover --- */

.artwork {
  display: block;
  width: 100%;
}

.artist,
.song-title {
  text-align: center;
}

.artist {
  font-weight: bold;
}

/* --- media query for larger than common mobile screens --- */

@media screen and (min-width: 480px) {

  html {
    background: #e1e1e1;
  }

  .remote-wrapper {
    width: 380px;
    margin: 1em;
    border: .5em solid rgba(0,0,0,.2);
    border-radius: 1em;
    box-shadow: 0 0 10px #666;
  }
}

