body {
  font: 14px sans-serif;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

.remote-wrapper {
  width: 480px;
}

img.artwork {
  display: block;
  max-width: 100%;
}

.artist {
  font-weight: bold;
}
